.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #c6dbf9, #a4c8f6);
  padding: 10px 30px;
  border-radius: 50px;
  margin: 15px;
  font-family: Arial, sans-serif;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 35px;
  margin-right: 10px;
}

.logo-text {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.navbar-center {
  display: flex;
  gap: 20px;
}

.navbar-center a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-center a.active {
  background-color: #ffffff;
  color: #2266aa;
  font-weight: bold;
}

.navbar-center a:hover {
  background-color: #ffffff;
  color: #2266aa;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav{
   width: 70px;
   height: 30px;
}
.profile-img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #2266aa;
  cursor: pointer;
}

.logout-btn {
  background-color: #2266aa;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.logout-btn:hover {
  background-color: #004080;
}
